<div>  

<div>
<form id="miFormulario">
  <label for="nombre">nombre:</label>
  <input type="text" id="nombre" name="nombre">
  <br>

  <label for="apellido">apellido:</label>
  <input type="text" id="apellido" name="apellido">
  <br>

  <label for="edad">edad:</label>
  <input type="text" id="edad" name="edad"></input>
  <br>

  <button type="submit">Enviar</button>
</form>
        
    <h1>Productos Actuales</h1>
    <div id="mostrarProductos">

    </div>
    
</div>

</div>
  <div id="container">

    </div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
      const socket = io()

const container = document.getElementById('container')

const getProduct = () => {
  socket.emit('getProducts')    
}


const deleteButton = (id) => {
  console.log('deleteProducts',id)
  socket.emit('deleteProducts',id)   
}

socket.on('showProducts', data => {
      console.log("showProducts",data);
    container.innerHTML = ``
if ( data.length > 0 ) {
    data.forEach(prod => {
        container.innerHTML += `
                <div id="cart">
                    <p><span class="keyDer"> Nombre : </span>${prod.nombre}</p>
                    <p><span class="keyDer"> Apellido : </span>${prod.apellido}</p>
                    <p><span class="keyDer"> Edad : </span>${prod.edad}</p>
                    <p><span class="keyDer"> ID : </span>${prod.id}</p>
                     <button id="${prod.id}" onclick="deleteButton('${prod.id}')">Eliminar</button>
                </div>`  
         
    }) }
    
})

const miFormulario = document.getElementById("miFormulario");

miFormulario.addEventListener("submit", function(event) {
  event.preventDefault(); // Evita que el formulario se envíe automáticamente

  const datosFormulario = new FormData(miFormulario);

  // Accede a los datos del formulario utilizando los nombres de los campos
  const nombre = datosFormulario.get("nombre");
  const apellido = datosFormulario.get("apellido");
  const edad = datosFormulario.get("edad");
  const id = datosFormulario.get("id");

  const productsForm ={
    nombre,
    apellido,
    edad
  }

  console.log('addProducts',productsForm)
  socket.emit('addProducts',productsForm)    

});

getProduct()
</script>



